/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
	Body
*/
body{
	/*background-color: #0B4C63;
  /*padding-top: 100px;*/
}

/*
    Radio Container
*/
.radio-container{
  /*text-align: center;*/
}

/*
    Main Section
*/
.main-section{
  display: inline-block;
}

/*
    Top Header
*/
div#top-header{
    background-color: #F1F1EE;
    width: 370px;
    height: 40px;
    margin: auto;
    text-align: left;
    line-height: 20px;
    padding-top: 10px;
    position: relative;
    margin-bottom: -50px;
    display: none;
    z-index: 9;
}

div.error{
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   font-size: 13px;
   color: #ff000a ;
   line-height: 14px;
}

/*
    Large album container
*/
div#top-large-album{
    width: 370px;
    height: 370px;
    margin: auto;
    margin-bottom: -45px;
    z-index: 0;
    position: relative;
}

/*
    Play radio button
*/
.play-radio{
    background: #095F90;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    width: 90px;
    height: 90px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    cursor: pointer;
}

.play-radio:before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 27px 0 27px 50px;
    border-color: transparent transparent transparent #F1F1EE;
    position: absolute;
    top:0;
    left:0;
    right:-10px;
    bottom:0;
    margin: auto;
}

.play-radio:hover{
    background: #FFFFFF;
    width: 95px;
    height: 95px;
}

.play-radio:hover:before{
    border-color: transparent transparent transparent #095F90;
}

/*
    Large Album Art
*/
img#large-album-art{
    width: 370px;
    height: 370px;
    /*border-radius: 5px;*/
}

/*
	Small Player
*/
div#small-player{
	width: 370px;
	height: 60px;
	background-color: #F1F1EE;
	/*border-radius: 5px;*/
    margin: auto;
    z-index: 99999;
    position: relative;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

/*
   Small Player Left
*/
div#small-player-left{
    height: 45px;
    width: 25px;
    float: left;
}

/*
    Expand and Contract Album Art
*/
div.small-player-toggle-expand{
    background-image: url('../images/icon-fullscreen.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    width: 12px;
    height: 12px;
    margin-left: 6px;
    margin-top: 27px;
}

div.small-player-toggle-contract{
    background-image: url('../images/icon-compress.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    width: 12px;
    height: 12px;
    margin-left: 6px;
    position: absolute;
    bottom: 6px;
}

/*
    Small Player Album Art
*/
img#small-player-album-art{
    width: 45px;
    height: 45px;
    float: left;
}

/*
    Small Player Middle
*/
div#small-player-middle{
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 260px;
    height: 30px;
    float: left;
    cursor: pointer;
}
div#small-player-middle-top{
    width: 260px;
    float: left;
    height: 30px;
}
div#small-player-middle-bottom{
    width: 260px;
    float: left;
}

/*
    Small Player Middle Meta
*/
div#small-player-middle-controls{
    display: none;
}
/*
    Small Player Right
*/
div#small-player-right{
    width: 25px;
    float: left;
    padding-top: 27px;
}

/*
    Small Player Full Bottom
*/
div#small-player-full-bottom{
    padding-top: 5px;
}
.controls{
    display: flex;
    justify-content: center;
    margin-bottom: 0.8em;
    height: 23px;
}
/*
    Small Player Full Bottom Info
*/
div#small-player-full-bottom-info{
    margin: auto;
    margin-top: -7px;
    width: 350px;
    clear: both;
}
/*
    Play Pause
*/
div.amplitude-play-pause{
    margin: auto;
    height: 23px;
    width: 20px;
    cursor: pointer;
    margin-top: 5px;
    display: none;
    /*float: left;*/
}
div.controls-1 {
    margin-left: 145px;
}
div.controls-2 {
    margin-right: 150px;
}
div.amplitude-paused{
    background-image: url('../images/icon-play.svg');
    background-repeat: no-repeat;
    background-size: 95%;
}
div.amplitude-playing{
    background-image: url('../images/icon-pause.svg');
    background-repeat: no-repeat;
    background-size: 95%;
}
div.amplitude-next{
    background-image: url('../images/icon-skipforward.svg');
    background-repeat: no-repeat;
    background-size: 95%;
    /*float: right;*/
}

div.amplitude-paused,
div.amplitude-playing,
div.amplitude-next{
    opacity: 0.7;
}

div.amplitude-paused:hover,
div.amplitude-playing:hover,
div.amplitude-next:hover{
    opacity: 1;
}
/*
    Song Time Visualization
*/
div#song-time-visualization{
    width: 260px;
    height: 5px;
    background-color: #bebebe;
}
div#song-time-visualization div.amplitude-song-time-visualization-status{
    background-color: #1A8AC7;
    height: 5px;
}

div#song-time-visualization-large{
    width: 295px;
    height: 5px;
    background-color: #bebebe;
    display: inline-block;
    vertical-align: middle;
}
div#song-time-visualization-large div.amplitude-song-time-visualization-status{
    background-color: #1A8AC7;
    height: 5px;
}

/*
    Now Playing Information
*/
div.now-playing-title{
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    width: 25.7em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 1em;
}
.song-author{
  font-size: 1.2em;
  color: #095F90;
  text-decoration: none;
}
.song-author:hover{
  border-bottom: 1px dotted #053048;
  color: #053048;
  cursor: pointer;
}
div.album-information{
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #4D4D4D;
    width: 29em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 1em;
}

/*
    Rights
*/
.rights{
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 0.5em;
  float: right;
  vertical-align: top;
  margin-top: -4.25em;
  background-color: #D9D4CA;
  border-radius: 4px;
  padding: 0 0.3em;
  color: #777777;
  position: absolute;
  right: 0.5em;
  height: 2.3em;
    display: none;
}

/*
    Current song time
*/
span.current-time{
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 10px;
    color: #676261;
}

/*
   Duration
*/
span.time-duration{
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 300;
    font-size: 10px;
    color: #676261;
}

/*
   Right Column
*/
.right-col{
  display: inline-block;
  background-color: #ffffff;
  vertical-align: top;
  margin-left: -4px;
  border-style: solid solid solid none;
  border-width: 1px;
  border-color: #DEDEDE;
  width: 228px;
  max-width: 228px;
}

.radio-selector{

}

.europeana-branding {
  background-image: url('../images/eu_powered_logo.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 5em;
  width: 10em;
  margin: auto;
  padding-bottom: 0.45em;
}

.classical-radio {

}

.radio-1{
  margin-bottom: 3.3em;
}

.radio-0,
.radio-1{
  font-family: "Open Sans", "Arial", sans-serif;
  color: #095F90;
  font-size: 1em;
  padding: 0.8em 0.8em;
  text-align: left;
}

.radio-0:hover,
.radio-1:hover,
.radio-0:active,
.radio-1:active,
.radio-active {
  background-color: #095F90;
  color: #ffffff;
  text-align: left;
  cursor: pointer;
}

.play-icon{
  width: 0.7em;
}

.radio-icon-invert{
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.music-icon{
  width: 0.85em;
}

/*
Media Queries
*/
@media all and (max-width: 384px){
  .main-section {
    width: 100%;
  }
}

@media all and (max-width: 578px) {
    .right-col {
        width: 368px;
        margin-left: 0;
        border-style: none solid solid solid;
    }

    .radio-1 {
        margin-bottom: -0.6em;
    }

    .radio-0,
    .radio-1 {
        padding: 1.5em 0.8em;
        border-bottom: 1px solid #DEDEDE;
    }
}

div.genre-selector {
    border-top: 1px solid #DEDEDE;
    margin-bottom: 1.3em;
    font-family: 'Open Sans', 'Arial', sans-serif;
    padding: 10px;
    line-height: 1.8em;
    overflow: auto;
    display: none;
}

div.right-col-filler {
    margin-bottom: 13.2em;
}

div.genre-selector input {
    font-family: 'Open Sans', 'Arial', sans-serif;
    border-radius: 3px;
    moz-border-radius: 3px;
    border: 1px solid #DEDEDE;
    font-size: 16px;
    width: 170px;
    height: 25px;
    padding: 0px 5px;
    margin-top: 7px;
}

div.genre-selector h2 {
    font-weight: bold;
}

.ui-autocomplete-loading {
    background: white url("/images/ui-anim_basic_16x16.gif") right center no-repeat !important;
}

.ui-autocomplete {
    max-height: 116px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    font-size: 14px !important;
}

.ui-widget {
    max-width: 180px;
}

span.genre-label {
    font-weight: bold;
    text-decoration: underline;
}

span.genre-song-label {
    font-style: italic;
}

a.genre-submit {
    font-weight: bold;
    color: #095F90;
}

a.genre-cancel {
    color: #888;
}