/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}
*/

body{
  font-family: "Open Sans", "Arial", sans-serif;
  margin:  0;
  padding: 0;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.radio-container{
  display: inline-block;
  position: relative;
}

.main-section{
  display: inline-block;
}

#top-header{
  background-color: #F1F1EE;
  height:           40px;
  margin:           auto;
  text-align:       left;
  line-height:      20px;
  padding-top:      10px;
  position:         relative;
  margin-bottom:    -50px;
  display:          none;
  z-index:          1;
}

.error{
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   font-size: 13px;
   color: #ff000a ;
   line-height: 14px;
}

/*
    Large album container
*/
#top-large-album{
  height: 370px;
  margin: auto;
  margin-bottom: -45px;
  position: relative;
  text-align: center;
  z-index: 0;
}

/*
    Play radio button
*/
.play-radio{
    background: #095F90;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    width: 90px;
    height: 90px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    cursor: pointer;
}

.play-radio:before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 27px 0 27px 50px;
    border-color: transparent transparent transparent #F1F1EE;
    position: absolute;
    top:0;
    left:0;
    right:-10px;
    bottom:0;
    margin: auto;
}

.play-radio:hover{
    background: #FFFFFF;
    width: 95px;
    height: 95px;
}

.play-radio:hover:before{
    border-color: transparent transparent transparent #095F90;
}

/*
    Large Album Art
*/
#large-album-art{
  margin:     auto;
  width:      370px;
}

#small-player{
  height: 60px;
  background-color: #F1F1EE;
  margin: auto;
  position: relative;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  z-index: 1;
}

#small-player-left{
  float: left;
  height: 45px;
  width: 25px;
}

.small-player-toggle-expand{
  background-image: url('../images/icon-fullscreen.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  height: 12px;
  margin-left: 6px;
  margin-top: 27px;
  width: 12px;
}

.small-player-toggle-contract{
  background-image: url('../images/icon-compress.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: 6px;
  cursor: pointer;
  height: 12px;
  margin-left: 6px;
  position: absolute;
  width: 12px;
}

#small-player-album-art{
  float:  left;
  height: 45px;
  width:  45px;
}

#small-player-right{
  float: left;
  padding-top: 27px;
  width: 25px;
}

#small-player-full-bottom{
  padding-top: 5px;
}

.controls{
  display: flex;
  height: 23px;
  justify-content: center;
  margin-bottom: 0.8em;
}
/*
    Small Player Full Bottom Info
*/
#small-player-full-bottom-info{
  clear: both;
  margin: auto;
  margin-top: -7px;
  padding: 0 0.5em;
}

.amplitude-play-pause{
  cursor: pointer;
  display: none;
  height: 23px;
  margin: auto;
  margin-top: 5px;
  width: 20px;
}

.controls-1 {
  margin-left: 130px;
}

.controls-2 {
  margin-right: 130px;
}

.amplitude-paused{
  background-image: url('../images/icon-play.svg');
  background-repeat: no-repeat;
  background-size: 95%;
}
.amplitude-playing{
  background-image: url('../images/icon-pause.svg');
  background-repeat: no-repeat;
  background-size: 95%;
}
.amplitude-next{
  background-image: url('../images/icon-skipforward.svg');
  background-repeat: no-repeat;
  background-size: 95%;
  /*float: right;*/
}

.amplitude-paused,
.amplitude-playing,
.amplitude-next{
  opacity: 0.7;
}

.amplitude-paused:hover,
.amplitude-playing:hover,
.amplitude-next:hover{
  opacity: 1;
}

#song-time-visualization{
  background-color: #bebebe;
  height: 5px;
  width: 260px;
}

#song-time-visualization .amplitude-song-time-visualization-status{
  background-color: #1A8AC7;
  height: 5px;
}

#song-time-visualization-large{
  background-color: #bebebe;
  display: inline-block;
  height: 5px;
  vertical-align: middle;
  width: 280px;
}

#song-time-visualization-large .amplitude-song-time-visualization-status{
  background-color: #1A8AC7;
  height: 5px;
}

/*
    Now Playing Information
*/
.now-playing-title{
  font-weight:   300;
  font-size:     12px;
  line-height:   14px;
  overflow:      hidden;
  padding-left:  1em;
  text-overflow: ellipsis;
  white-space:   nowrap;
}

.song-author{
  font-size: 1.2em;
  color: #095F90;
  text-decoration: none;
}

.song-author:hover{
  border-bottom: 1px dotted #053048;
  color: #053048;
  cursor: pointer;
}

.album-information{
  color:         #4D4D4D;
  font-weight:   300;
  font-size:     12px;
  left:          1em;
  overflow:      hidden;
  text-overflow: ellipsis;
  white-space:   nowrap;
}

.rights{
  background-color: #D9D4CA;
  border-radius:    4px;
  color:            #777777;
  display:          none;
  font-size:        0.5em;
  height:           2.3em;
  padding:          0 0.3em;
  position:         absolute;
  right:            .5em;
  top:              3.4em;
}

span.current-time{
  color: #676261;
  font-size: 10px;
  font-weight: 300;
}

span.time-duration{
  color:       #676261;
  font-size:   10px;
  font-weight: 300;
}

/*
   Right Column
*/

.right-col{
  background-color: #ffffff;
  border-style:     solid solid solid none;
  border-width:     1px;
  border-color:     #DEDEDE;
  display:          inline-block;
  vertical-align:   top;
}

.europeana-branding{
  background-image: url(../images/eu_powered_logo.svg);
  background-repeat: no-repeat;
  background-size: 100%;

  height: 5em;
  width: 10em;

  position: absolute;
  bottom: .45em;
  right: 0;
}


.station-select{
  font-size:       1em;
  padding:         0.25em 0.5em 0.25em 2em;
  text-align:      left;
  text-decoration: none;
}

.station-select{
  display: block;
  position: relative;
}

.station-select:before{
  content:   url(../images/icon-music.svg);
  display:   block;
  height:    1em;
  left:      0.2em;
  position:  absolute;
  top:       50%;
  transform: translateY(-50%);
  width:     1em;
}

.station-select.active:before{
  content: url(../images/icon-play.svg);
}

.station-select:hover:before,
.station-select.active:before{
  filter:  invert(100%);
}

.radio-selector :hover,
.radio-selector .active{
  background-color: #095F90;
  color:            #ffffff;
  cursor:           pointer;
  text-align:       left;

}

.play-icon{
  width: 0.7em;
}

.music-icon{
  width: 0.85em;
}


@media all and (max-width: 578px){

  .right-col,
  .main-section {
    width: 100%;
  }

  .right-col {
    border-style: none solid solid solid;
    margin-left: 0;
  }

  .radio-selector .station-select{
    border-bottom: 1px solid #DEDEDE;
    background-size:     1.5em;
    background-position: 0.3em center;
    padding:             1.5em 0.8em 1.5em 2.3em;
  }

}
@media all and (min-width: 578px){

  .right-col,
  .main-section {
    width: auto;
  }


}





.genre-selector {
    border-top: 1px solid #DEDEDE;
    margin-bottom: 1.3em;
    padding: 10px;
    line-height: 1.8em;
    overflow: auto;
    display: none;
}


.genre-selector input {
    border-radius: 3px;
    moz-border-radius: 3px;
    border: 1px solid #DEDEDE;
    font-size: 16px;
    width: 170px;
    height: 25px;
    padding: 0px 5px;
    margin-top: 7px;
}

.genre-selector h2{
    font-weight: bold;
}

.ui-autocomplete-loading {
    background: white url("/images/ui-anim_basic_16x16.gif") right center no-repeat !important;
}

.ui-autocomplete {
    max-height: 116px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    font-size: 14px !important;
}

.ui-widget {
    max-width: 180px;
}

.genre-label {
    font-weight: bold;
    text-decoration: underline;
}

.genre-song-label {
    font-style: italic;
}

.genre-submit {
    font-weight: bold;
    color: #095F90;
}

.genre-cancel {
    color: #888;
}


.album-information.marquee {
  margin-left:   1em;
  text-overflow: unset;
  width:         15em;
}


.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  animation: marquee 15s linear infinite;
}

.marquee:hover {
  animation-play-state: paused
}

@keyframes marquee {
  from  { text-indent:  100% }
  to    { text-indent: -100% }
}
