body{
  font-family: "Open Sans", "Arial", sans-serif;
  margin:  0;
  padding: 0;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.radio-container{
  background-color: #fff;
  display:          inline-block;
  position:         relative;
  width:            100%;
}

.main-section{
  display:  inline-block;
  position: relative;
}

#top-header{
  background-color: #F1F1EE;
  opacity:          0;
  height:           40px;
  line-height:      20px;
  margin:           auto;
  margin-bottom:    -50px;
  overflow:         hidden;
  padding-top:      10px;
  position:         relative;
  text-align:       left;
  z-index:          1;


  transition:         opacity 3s ease-in-out;
  -webkit-transition: opacity 3s ease-in-out;
}

#top-header.showing{
  opacity:            1;
}

.error{
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   font-size: 13px;
   color: #ff000a ;
   line-height: 14px;
}

/*
    Large album container
*/
#top-large-album{
  height: 370px;
  margin: auto;
  margin-bottom: -45px;
  position: relative;
  text-align: center;
  z-index: 0;
}

/*
    Play radio button
*/
.play-radio{
    background: #095F90;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    width: 90px;
    height: 90px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    cursor: pointer;
}

.play-radio:before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 27px 0 27px 50px;
    border-color: transparent transparent transparent #F1F1EE;
    position: absolute;
    top:0;
    left:0;
    right:-10px;
    bottom:0;
    margin: auto;
}

.play-radio:hover{
    background: #FFFFFF;
    width: 95px;
    height: 95px;
}

.play-radio:hover:before{
    border-color: transparent transparent transparent #095F90;
}

/*
    Large Album Art
*/
#large-album-art{
  margin:     auto;
  height:     370px;
  width:      370px;
}

#small-player{
  height: 60px;
  background-color: #F1F1EE;
  margin: auto;
  position: relative;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  z-index: 1;
}

#small-player-left{
  float: left;
  height: 45px;
  width: 25px;
}

.small-player-toggle-expand{
  background-image: url('../images/icon-fullscreen.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  height: 12px;
  margin-left: 6px;
  margin-top: 27px;
  width: 12px;
}

.small-player-toggle-contract{
  background-image: url('../images/icon-compress.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: 6px;
  cursor: pointer;
  height: 12px;
  margin-left: 6px;
  position: absolute;
  width: 12px;
}

#small-player-album-art{
  float:  left;
  height: 45px;
  width:  45px;
}

#small-player-right{
  float: left;
  padding-top: 27px;
  width: 25px;
}

#small-player-full-bottom{
  padding-top: 5px;
}

.controls{
  display: flex;
  height: 23px;
  justify-content: center;
  margin-bottom: 0.8em;
}
/*
    Small Player Full Bottom Info
*/
#small-player-full-bottom-info{
  clear: both;
  margin: auto;
  margin-top: -7px;
  padding: 0 0.5em;
}

.amplitude-play-pause{
  cursor: pointer;
  display: none;
  height: 23px;
  margin: auto;
  margin-top: 5px;
  width: 20px;
}

.controls-1 {
  margin-left: 130px;
}

.controls-2 {
  margin-right: 130px;
}

.amplitude-paused{
  background-image: url('../images/icon-play.svg');
  background-repeat: no-repeat;
  background-size: 95%;
}
.amplitude-playing{
  background-image: url('../images/icon-pause.svg');
  background-repeat: no-repeat;
  background-size: 95%;
}
.amplitude-next{
  background-image: url('../images/icon-skipforward.svg');
  background-repeat: no-repeat;
  background-size: 95%;
  /*float: right;*/
}

.amplitude-paused,
.amplitude-playing,
.amplitude-next{
  opacity: 0.7;
}

.amplitude-paused:hover,
.amplitude-playing:hover,
.amplitude-next:hover{
  opacity: 1;
}

.amplitude-song-slider{
  background-color: #bebebe;
  height: 5px;

  display: block;
  margin: auto;
  position: relative;

  width:  80%;
}


/*
    Now Playing Information
*/
.now-playing-title{
  display:       inline-block;
  font-weight:   300;
  font-size:     12px;
  line-height:   14px;
  margin-left:   1em;
  overflow:      hidden;
  white-space:   nowrap;
}

.song-author{
  font-size: 1.2em;
  color: #095F90;
  text-decoration: none;
}

.song-author:hover{
  border-bottom: 1px dotted #053048;
  color: #053048;
  cursor: pointer;
}

.album-information{
  color:         #4D4D4D;
  font-weight:   300;
  font-size:     12px;
  overflow:      hidden;
  padding-left:  1em;
  text-overflow: ellipsis;
  white-space:   nowrap;
}

.artist-and-rights{
  display: table;
  table-layout: fixed;
  width: 100%;
}
.rights{
  background-color: #D9D4CA;
  border-radius:    4px;
  color:            #777777;
  display:          none;
  float:            right;
  font-size:        0.6em;
  padding:          0 0.3em;
  position:         relative;
  right:            4px;
  top:              -4px;
}

.current-time,
.time-duration{
  color:       #676261;
  display:     none;
  font-size:   10px;
  font-weight: 300;
}

/*  Right Column */

.right-col{
  box-sizing:       border-box;
  display:          inline-block;
  padding:          0 10px 0.5em 10px;
  vertical-align:   top;
  width:            370px;
}

.right-col p{
  margin: 0.2em 0 0.4em 0
}

.europeana-branding{
  position: absolute;
  bottom:  18em;
  left:    0.2em;
  transition:         bottom 3s ease-in-out, left 3s ease-in-out;
  -webkit-transition: bottom 3s ease-in-out, left 3s ease-in-out;
}

.europeana-branding.dropped{
  bottom: 2.7em;
  left:   0.3em;
}

.europeana-branding img{
  height:   66px;
  width:    178px;
}

.channel-type-switch{
  background-color: #fefefe;
  color:            #4d4d4d;
  padding-top:      0.5em;
  border-bottom:    1px solid #bebebe;
}

.channel-type-switch .tab{
  border:        1px solid #bebebe;
  border-bottom: 0;
  border-radius: 0.5em 0.5em 0 0;
  bottom:        -1px;
  cursor:        pointer;
  display:       inline-block;
  padding:       0.25em 0.5em 0.25em 0.5em;
  position:      relative;
}

.channel-type-switch .tab.active{
  border-bottom: 1px solid #fff;
}

.station-select{
  display:         block;
  font-size:       1em;
  margin:          0;
  padding:         0.25em 0.5em 0.25em 2em;
  position:        relative;
  text-align:      left;
  text-decoration: none;
}

.station-select:before{
  content:   url(../images/icon-music.svg);
  display:   block;
  height:    1em;
  left:      0.2em;
  position:  absolute;
  top:       50%;
  transform: translateY(-50%);
  width:     1em;
}

.station-select.active:before{
  content: url(../images/icon-play.svg);
}

.station-select:hover:before,
.station-select.active:before{
  filter:         invert(100%);
  webkit-filter: invert(100%);
}

.radio-selector{
  margin-top: 0.25em;
}

.radio-selector :hover,
.radio-selector .active{
  background-color: #095F90;
  color:            #ffffff;
  cursor:           pointer;
  text-align:       left;
}

.play-icon{
  width: 0.7em;
}

.music-icon{
  width: 0.85em;
}

.genre-selection{
  padding-top: 10px;
}

.genre-selection h2{
  font-weight: bold;
  margin:      0;
}

.genre-selection.hidden {
  display:  none;
}

@media all and (max-width: 578px){

  .right-col,
  .main-section {
    width: 100%;
  }


  .right-col {
    border-style: none solid solid solid;
    margin-left: 0;
  }

  .radio-selector .station-select{
    border-bottom: 1px solid #DEDEDE;
    background-size:     1.5em;
    background-position: 0.3em center;
    padding:             1.5em 0.8em 1.5em 2.3em;
  }

}
@media all and (min-width: 740px){

  .radio-container{
    width:  740px;
    height: 385px;
  }

  .main-section {
    width: 370px;
  }

  #small-player-full-bottom-info{
    text-align: justify;
    width:      100%;
  }

  .current-time,
  .time-duration{
    display: inline;
  }

  .amplitude-song-slider{
    display: inline;
    margin:  0;
  }

  .right-col{
    display: flex;

    flex-direction: column;
    float: right;

    justify-content: space-between;

    min-height: 100%;
    max-height: 100%;

    width: 369px;
  }

  .radio-selector{
    flex: 0 1 auto;
    overflow-y: auto;
  }

  .genre-selector{
    flex-grow: 1;
  }

  .genre-selector-inner{
    display: flex;
    height:  100%;
  }

  .genre-selection {
    align-self:  flex-end;
    padding-top: 0;
  }

  .existing-tags{
    max-height:    8em;
    overflow-y:    auto;
  }

}

.genre-selector {
  border-top:  1px solid #DEDEDE;
  box-sizing:  border-box;
  line-height: 1.8em;
  width:       100%;
}

.chosen-choices span,
.chosen-drop li{
  text-transform: capitalize;
}

.ui-autocomplete-loading {
    background: white url("/images/ui-anim_basic_16x16.gif") right center no-repeat !important;
}

.ui-autocomplete {
    max-height: 116px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    font-size: 14px !important;
}

.genre-label {
    font-weight: bold;
    text-decoration: underline;
}

.genre-song-label {
    font-style: italic;
}

.genre-submit {
    font-weight: bold;
    color: #095F90;
}

.genre-cancel {
    color: #888;
}


.marquee {
  animation: marquee 12s linear infinite;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.marquee:hover {
  animation-play-state: paused
}

@keyframes marquee {
  from  { text-indent:  100% }
  to    { text-indent: -100% }
}

.tag{
  background-color:           #1676aa;
  color:                      #ffffff;
  border-bottom-right-radius: 10em;
  border-top-right-radius:    10em;
  display:                    inline-block;
  font-size:                  0.75em;
  font-weight:                bold;
  margin:                     0 0.2em 0.5em 0;
  padding:                    0.2em 1em 0.2em 0.5em;
  position:                   relative;
  text-transform:             uppercase;
}
.tag:hover,
.tag.is-active{
  background-color: #0a3750;
}

/*
.genre-ctrls{
  position: absolute;
  bottom:   1em;
}
*/

.submit-genre{
  background-color: #1676aa;
  border:           0;
  color:            #fff;
  cursor:           pointer;
  padding:          0.3em;
}

/* Chosen overrides */

/* override to make the drop-down drop-up */
.chosen-container .chosen-drop {
  border-bottom: 0;
  border-top: 1px solid #aaa;
  top: auto;
  bottom: 2.5em;
}

.select,
.chosen-select,
.chosen-select-no-single,
.chosen-select-no-results,
.chosen-select-deselect,
.chosen-select-rtl,
.chosen-select-width {
  width: 295px;
}

.chosen-container.error{
  border: 1px solid red;
}
